#header{

}

/* My Skills Section */
    /* .skills-container{
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
    }
    .skill{
        padding: 1rem;
        padding: .4rem 1rem;
        font-size: 1.2rem;
        background-color: rgb(23, 23, 23);
        color: #fff;
        border-radius: .5rem;
    } */

@media (prefers-reduced-motion){

}