@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Flow+Circular&family=Tilt+Neon&family=Yatra+One&display=swap');

section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(.9);
    user-select: none;
}

/* Home Section */
    #home{
        background-image: url("./src/assets/home.svg");
    }
    #home .left{
        padding-right: 1rem;
    }
    #home .left .shorter{
        display: none;
    }
    #home.hidden .right.animate{
        transition-delay: .8s;
    }
    #home .right{
        max-width: 45svw;
    }
    #home .right img{
        width: 100%;
        -webkit-box-shadow:0px 10px 39px 10px rgba(255,255,255,0.22);
        -moz-box-shadow: 0px 10px 39px 10px rgba(255,255,255,0.22);
        box-shadow: 0px 10px 39px 10px rgba(255,255,255,0.22);
    }
    #home img.smaller{
        display: none;
    }

    #home .content{
        width: 90svw;
        height: 90svh;
        padding: 1rem;
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        font-family: "Yatra One", system-ui;
    }

    #home .content .left{
        text-align: start;
        line-height: 3.5rem;
    }

    #home .content h1{
        font-size: 4rem;
    }

    #home .content h2{
        font-size: 3rem;
    }

    #home .content p{
        font-size: 1.5rem;
        font-style: italic;
        line-height: 2rem;
        color: #ffffffaa;
    }

.content{
    display: grid;
    text-align: center;
    align-items: center;
}

/* About Section */
    #about{
        background-image: url("./src/assets/about.svg");
    }
    #about .content{
        width: 90svw;
        min-height: 100svh;
        padding: 1rem 0;
        gap: 2rem;
        grid-template-rows: 1fr 1fr;
        font-family: cursive;
    }
    #about .about{
        width: 90svw;
        /* height: calc(50svh - 1rem); */
        min-height: calc(50svh - 1rem);
        background-color: #005ce6e4;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-box-shadow: 0px 0px 10px 5px rgb(0 83 202 / 75%);
        -moz-box-shadow: 0px 0px 10px 5px rgb(0 83 202 / 75%);
        box-shadow: 0px 0px 10px 5px rgb(0 83 202 / 75%);
    }
    #about .images{
        display: flex;
        align-items: center;
    }
    #about .images img{
        max-height: calc(50svh - 1rem);
    }
    #about .scroller{
        max-width: 45vw;
    }
    #about .scroller_inner, #about .scroller{
        padding: 0;
    }

    #about .text-container{
        display: grid;
        text-align: center;
        align-items: center;
        padding: 1rem 0;
        font-weight: 400;
        font-size: 1.6rem;
    }
/* Skills Section */
    #skills{
        background-image: url("./src/assets/skills.svg");
    }
    #skills .content{
        width: 90vw;
        min-height: 90svh;
        padding: 1rem 0;
        display: grid;
        /* grid-template-columns: 90% 10%; */
        gap: 1rem;
    }
    #skills .comparison{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        min-height: 90vh;
    }
    .right .section{
        box-shadow: 0px 0px 8px 3px rgb(41 41 41 / 75%);
    }
    #skills .left, .right .section:has(.react){
        box-shadow: 0px 0px 8px 3px rgb(0 83 202 / 75%);
    }
    #skills .left, #skills .section{
        padding: 1rem;
        background-color: #0051b8cc;
        border-radius: 1rem;
    }
    #skills .section.backend{
        background-color: #292929dc;
    }
    #skills .comparison .right{
        display: grid;
        grid-template-rows: calc(70% - .5rem) calc(30% - .5rem);
        gap: 1rem;
    }
    #skills .left .text-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        /* height: calc(100% - 1rem); */
    }
    #skills .comparison .element{
        display: grid;
        grid-template-columns: 70% 30%;
        padding: 1rem;
        text-align: start;
    }
    #skills .backend .element, #skills .section{
        grid-template-columns: 30% 70%;
    }
    #skills .comparison p{
        font-size: 1.2rem;
    }
    #skills img{
        width: 90%;
    }

    #skills .skills-container{
        display: flex;
        justify-content: center;
    }
/* Skills Section */
    #projects{
        background-image: url("./src/assets/projects.svg");
    }
/* Contact Section */
    #contact{
        background-image: url("./src/assets/projects.svg");
    }
/* My Skills Section */
    .skillsScroller{
        
    }
    .skillsScroller li{
        /* color: #30acffaa; */
    }
    .skillsScroller li:hover{
        transform: scale(1.05);
        color: #4facf7;
        filter: drop-shadow(0 0 .5em #4facf7);
        transition: all 300ms;
    }
    /* .skills-container{
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
    }
    .skill{
        padding: 1rem;
        padding: .4rem 1rem;
        font-size: 1.2rem;
        background-color: rgb(23, 23, 23);
        color: #fff;
        border-radius: .5rem;
    } */

@media (prefers-reduced-motion){
    
}